
.afm-button-option {
    display: flex;
    align-items: center;

    width: 50vw;
    margin: 1rem 0;
    min-height: 4rem !important;
    
} 
@media only screen and (max-width: 500px) {
    .afm-button-option {
        width: 75vw;
    } 
  }

